/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* User Style */

@font-face {
  font-family: "PP Neue Montreal";
  src: url(./assets/fonts/ppneuemontreal-book.otf);
}

@font-face {
  font-family: "PP Neue Montreal Thin";
  src: url(./assets/fonts/ppneuemontreal-thin.otf);
}

* {
  --grey-accent: rgba(242, 242, 242, 0.5);
  --grey-opaque: rgba(242, 242, 242, 0.9);
  --blue-accent: rgb(41, 112, 227);
  --box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.49);
  --box-shadow-small: 0px 3px 6px 0px rgba(0, 0, 0, 0.39);
}

body {
  font-family: "PP Neue Montreal", "SF Pro", Arial, Helvetica, sans-serif;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.background {
  position: absolute;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
}

.container {
  position: relative;
  display: grid;
  place-content: center;
  > * {
    grid-area: 1 / 1;
  }
}

.folder {
  width: 350px;
}

.front {
  z-index: 999;
}

.back {
  z-index: -999;
}

.spawn-point {
  position: relative;
}

.snippet {
  font-family: monospace;
  position: absolute;
  background-color: var(--grey-opaque);
  width: 200px;
  left: 100px;
  top: 180px;
  font-size: 9px;
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-small);
}

.grey {
  color: gray;
}

.blue {
  color: rgb(51, 51, 51);
}

.lightBlue {
  color: rgb(51, 51, 51);
}

.orange {
  color: var(--blue-accent);
}

.image.will-float {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 150px;
  height: 150px;
  box-shadow: var(--box-shadow-small);
}

.float-up {
  animation: floats 25s linear infinite;
}

@keyframes floats {
  100% {
    top: -600px;
  }
}

.nav-container {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  border-radius: 50%;
}

.bg {
  background-color: var(--grey-accent);
  backdrop-filter: blur(5px);
}

.logo > img {
  width: 25px;
  opacity: 0.95;
}

.logo > img:hover {
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 10px 40px;
  border-radius: 10px;
}

li:hover {
  cursor: pointer;
}

li {
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

ul:has(li:hover) li:not(:hover) {
  color: transparent;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.codebar {
  gap: 40px;
  padding: 20px 70px;
  margin-bottom: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: monospace;
}

.codebar > span {
  position: relative;
  font-size: 16px;
}

.button {
  font-family: "PP Neue Montreal";
  font-size: 14px;
  color: var(--blue-accent);
  border: solid 1px var(--blue-accent);
  padding: 1px 10px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25px;
}

.code {
  overflow: hidden;
}

.animate-button {
  animation: move-up 4s ease forwards;
}

.arrow {
  height: 12px;
}

@keyframes move-up {
  8% {
    transform: translateY(-100%);
  }
  92% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}

.button-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.code:hover {
  background-color: var(--blue-accent);
}

.code:hover > div {
  color: white;
}

.code:hover .arrow {
  fill: white;
}
